<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="SQLProfileConnString" connectionString="Server=tcp:t84z5ax46k.database.windows.net,1433;Database=MSPetShop4Profile;User ID=niujiale@t84z5ax46k;Password=Mar.8th!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="SQLMembershipConnString" connectionString="Server=tcp:t84z5ax46k.database.windows.net,1433;Database=MSPetShop4Services;User ID=niujiale@t84z5ax46k;Password=Mar.8th!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="SQLConnString1" connectionString="Server=tcp:t84z5ax46k.database.windows.net,1433;Database=MSPetShop4;User ID=niujiale@t84z5ax46k;Password=Mar.8th!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="SQLConnString2" connectionString="Server=tcp:t84z5ax46k.database.windows.net,1433;Database=MSPetShop4;User ID=niujiale@t84z5ax46k;Password=Mar.8th!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="SQLConnString3" connectionString="Server=tcp:t84z5ax46k.database.windows.net,1433;Database=MSPetShop4Orders;User ID=niujiale@t84z5ax46k;Password=Mar.8th!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" providerName="System.Data.SqlClient"/>

    <!--<add name="SQLProfileConnString" connectionString="Data Source=.;Initial Catalog=MSPetShop4Profile;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="SQLMembershipConnString" connectionString="Data Source=.;Initial Catalog=MSPetShop4Services;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="SQLConnString1" connectionString="Data Source=.;Initial Catalog=MSPetShop4;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="SQLConnString2" connectionString="Data Source=.;Initial Catalog=MSPetShop4;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="SQLConnString3" connectionString="Data Source=.;Initial Catalog=MSPetShop4Orders;Integrated Security=True" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <appSettings>
    <!-- Pet Shop DAL configuration settings. Possible values: PetShop.SQLServerDAL for SqlServer, PetShop.OracleServerDALfor Oracle. -->
    <add key="WebDAL" value="PetShop.SQLServerDAL"/>
    <add key="OrdersDAL" value="PetShop.SQLServerDAL"/>
    <add key="ProfileDAL" value="PetShop.SQLProfileDAL"/>
    <!-- Enable data caching -->
    <add key="EnableCaching" value="true"/>
    <!-- Cache duration (in hours-whole number only) -->
    <add key="CategoryCacheDuration" value="12"/>
    <add key="ProductCacheDuration" value="12"/>
    <add key="ItemCacheDuration" value="12"/>
    <!-- Cache dependency options. Possible values: PetShop.TableCacheDependency for SQL Server and keep empty for ORACLE -->
    <add key="CacheDependencyAssembly" value="PetShop.TableCacheDependency"/>
    <!-- CacheDatabaseName should match the name under caching section, when using TableCacheDependency -->
    <add key="CacheDatabaseName" value="MSPetShop4"/>
    <!-- *TableDependency lists table dependency for each instance separated by comma -->
    <add key="CategoryTableDependency" value="Category"/>
    <add key="ProductTableDependency" value="Product,Category"/>
    <add key="ItemTableDependency" value="Product,Category,Item"/>
    <!-- Order processing options (Asynch/Synch) -->
    <add key="OrderStrategyAssembly" value="PetShop.BLL"/>
    <add key="OrderStrategyClass" value="PetShop.BLL.OrderSynchronous"/>
    <!-- Asynchronous Order options -->
    <add key="OrderMessaging" value="PetShop.MSMQMessaging"/>
    <add key="OrderQueuePath" value="FormatName:DIRECT=OS:MachineName\Private$\PSOrders"/>
    <!-- Application Error Log -->
    <add key="Event Log Source" value=".NET Pet Shop 4.0"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages theme="PetShop" styleSheetTheme="PetShop">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name="PetShopAuth" loginUrl="SignIn.aspx" protection="None" timeout="60"/>
    </authentication>
    <profile automaticSaveEnabled="false" defaultProvider="ShoppingCartProvider" enabled="true">
      <providers>
        <clear/>
        <add name="ShoppingCartProvider" connectionStringName="SQLProfileConnString" type="PetShop.Profile.PetShopProfileProvider" applicationName=".NET Pet Shop 4.0"/>
        <add name="WishListProvider" connectionStringName="SQLProfileConnString" type="PetShop.Profile.PetShopProfileProvider" applicationName=".NET Pet Shop 4.0"/>
        <add name="AccountInfoProvider" connectionStringName="SQLProfileConnString" type="PetShop.Profile.PetShopProfileProvider" applicationName=".NET Pet Shop 4.0"/>
      </providers>
      <properties>
        <add name="ShoppingCart" type="PetShop.BLL.Cart" allowAnonymous="true" provider="ShoppingCartProvider"/>
        <add name="WishList" type="PetShop.BLL.Cart" allowAnonymous="true" provider="WishListProvider"/>
        <add name="AccountInfo" type="PetShop.Model.AddressInfo" allowAnonymous="false" provider="AccountInfoProvider"/>
      </properties>
    </profile>
    <membership defaultProvider="SQLMembershipProvider">
      <providers>
        <add name="SQLMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SQLMembershipConnString" applicationName=".NET Pet Shop 4.0" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <!--<roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>-->

    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <customErrors defaultRedirect="Error.aspx" mode="RemoteOnly"/>
    <sessionState mode="Off"/>
    <anonymousIdentification enabled="true"/>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="10000">
        <databases>
          <add name="MSPetShop4" connectionStringName="SQLConnString1" pollTime="10000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="UserProfile.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="CheckOut.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>